# Data files and directories common in repo root
datasets/
logs/
results/
temp/
test/
cucu_train/project_dataset/
*.h5
*.png
*.PNG
*.JPEG
*.JPG
*.jpg
*.jpeg
*.json
*events.out.tfevents*
# ASHER ignore:
samples/coco/annotations
samples/coco/images
samples/coco/train2014
samples/coco/val2014
bigGuns/
cucu_train/trainResultContainers*
cucu_train/project_dataset*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
