# 
src/ # this is built from installing packages from github with conda
azure_configs.yaml

# Data files and directories common in repo root
data/
datasets/
logs/
*.h5
results/
temp/
test/
notebooks/aml_config/
aml_config/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

#terraform
.vm*
terraform/.vm*
terraform/terraform.tfvars #secrets! Don't commit this to version control

# etc.
cropmask/tests/.cache
